.drawerToggler {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.drawerToggler div {
  width: 90%;
  height: 3px;
  background-color: #fff;
}
@media (min-width: 500px) {
  .drawerToggler {
    display: none;
  }
}
