.ToolBar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  box-sizing: border-box;
  height: 56px;
  z-index: 90;
  background-color: #03dac5;
  align-items: center;
}
.ToolBar nav {
  height: 100%;
}
.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
