.modal {
  position: fixed;
  background: #fff;
  max-width: 300px;
  width: 50%;
  z-index: 500;
  border: 2px solid #ececec;
  border-radius: 10px;
  box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.05);
  padding: 16px;
  left: 31%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
