.navigationItem {
  margin: 10px 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.navigationItem a {
  color: white;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
  color: #757575;
}
@media (min-width: 500px) {
  .navigationItem {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
  }

  .navigationItem a {
    height: 100%;
    width: auto;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .navigationItem a:hover,
  .navigationItem a:active,
  .navigationItem a.active {
    color: white;
    background-color: #ffa900;
    border-bottom: 4px solid #40a4cb;
  }
}
