.navigationItem {
  margin: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

.navigationItem a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
  display: block;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
    color: white;
  background-color: #ffa900;
  border-bottom: 4px solid #40a4cb;
}
